p.bg-color1
{
	font-size: xx-large;
	font-weight: bolder;
	color:goldenrod;
}

p.bg-gold
{
	font-size: large;
	font-weight: bolder;
	color:goldenrod;
}


p.bg-color2
{
	font-size: xx-large;
	font-weight: bolder;
	color:black;
}

p.bg-color3
{
	font-size: xx-large;
	font-weight: bolder;
	color:silver;
}

p.bg-color4
{
	font-size: xx-large;
	font-weight: bolder;
	color:blue;
}

p.bg-color5
{
	font-size: xx-large;
	font-weight: bolder;
	color:red;
}

p.bg-color6
{
	font-size: xx-large;
	font-weight: bolder;
	color:green;
}

p.bg-color7
{
	font-size: xx-large;
	font-weight: bolder;
	color:pink;
}

p.bg-color8
{
	font-size: xx-large;
	font-weight: bolder;
	color:purple;
}

p.bg-color9
{
	font-size: xx-large;
	font-weight: bolder;
	color:lightblue;
}
